<head>
<link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='static/bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<h1>Spiel Ende: {{ end_time.strftime('%H:%M') }}</h1>
<form method="POST">
    <label for="end_time">Spiel Ende:</label>
    <input type="time" id="end_time" name="end_time" required>
    <input type="submit" value="End Game">
</form>

{% if players %}
    <table>
        <tr>
            <th>Spieler/Gruppen Nummer</th>
            <th>Rote Perlen</th>
            <th>Grüne Perlen</th>
            <th>Blaue Perlen</th>
            <th>Abgabe Zeit</th>
            <th>Punkte</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.number }}</td>
                <td>{{ player.red_pearls }}</td>
                <td>{{ player.green_pearls }}</td>
                <td>{{ player.blue_pearls }}</td>
                <td>{{ player.timestamp.strftime('%H:%M') }}</td>
                <td>{{ player.score }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<a href="/"><button>Startseite</button></a>
<a href="/pearls"><button>Schlusswertung</button></a>