<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='static/bootstrap/js/bootstrap.min.js') }}"></script>
    </head>
<form method="POST" action="/player">
    <label for="number">Spieler/Gruppen Nummer</label><br>
    <input type="number" id="number" name="number" required><br>
    <input type="submit" value="Absenden">
</form>
<table style="width:100%; border: 1px solid black;">
    <tr>
        <th style="border: 1px solid black;">Spieler/Gruppen Nummer</th>
        <th style="border: 1px solid black;">Abgabezeit</th>
    </tr>
    {% for player in players %}
    <tr>
        <td style="border: 1px solid black;">{{ player.number }}</td>
        <td style="border: 1px solid black;">{{ player.timestamp.strftime('%H:%M') }}</td>
    </tr>
    {% endfor %}
</table>

<a href="/pearls"><button>Perleneingabe</button></a>
<a href="/end_game"><button>Schlusswertung</button></a>
<a href="/clear_db"><button>Delete Database</button></a>