<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.min.js') }}"></script>
    </head>
<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<div class="container">
<form method="POST">
    <label for="player_number">Spieler/Gruppen Nummer:</label>
    <div>
        <input type="text" class="form-control" placeholder="Spieler/Gruppennummer" id="player_number" name="player_number" required>
    </div>
    
    <div class="input-group mb-3">
        <!-- <label for="red_pearls">Rote Perlen:</label> -->
        <span class="input-group-text" id="basic-addon3">Rote Perlen:</span>
        <input type="number" class="form-control" aria-describedby="basic-addon3" id="red_pearls" name="red_pearls" value="0">
        <span class="input-group-text" id="basic-addon3">Grüne Perlen:</span>
        <input type="number" class="form-control" aria-describedby="basic-addon3" id="green_pearls" name="green_pearls" value="0">
        <span class="input-group-text" id="basic-addon3">Blaue Perlen:</span>
        <input type="number" class="form-control" aria-describedby="basic-addon3" id="blue_pearls" name="blue_pearls" value="0">
        <input type="submit" class="btn btn-primary" value="Update Pearls">
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>Spieler/Gruppen Nummer:</th>
        <th>Rote Perlen:</th>
        <th>Grüne Perlen:</th>
        <th>Blaue Perlen:</th>
        <th>Abgabezeit</th>
    </tr>
    {% for player in players %}
        <tr>
            <td>{{ player.number }}</td>
            <td>{{ player.red_pearls }}</td>
            <td>{{ player.green_pearls }}</td>
            <td>{{ player.blue_pearls }}</td>
            <td>{{ player.timestamp }}</td>
        </tr>
    {% endfor %}
</table>

<a href="/"><button>Startseite</button></a>
<a href="/end_game"><button>Schlusswertung</button></a>
</div>